footer {
  padding-top: 45px;
  padding-bottom: 50px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  img {
    width: 76px;
  }
}
.copyright {
  font-size: 14px;
  line-height: 26px;
  color: #26324e;
  font-weight: 400;
  margin: 0;
  text-align: center;
}

@include max-768 {
  footer {
    padding-top: 25px;
    padding-bottom: 40px;
  }
  .copyright {
    line-height: 24px;
  }
}
